{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}


<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search form -->
            <form class="navbar-search navbar-search-light form-inline mr-sm-3">
              {% csrf_token %}
              <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-search"></i></span>
                      </div>
                      <input class="form-control" id="searchInput"  placeholder="Search" >
                  </div>
              </div>
              <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </form>
          
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center  ml-md-auto ">
              <li class="nav-item d-xl-none">
                <!-- Sidenav toggler -->
                <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </div>
              </li>
              <li class="nav-item d-sm-none">
                <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                  <i class="ni ni-zoom-split-in"></i>
                </a>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ni ni-ungroup"></i>
                </a>
                
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">
                  <div class="row shortcuts px-4">
                    <a href="{% url 'liste_employes' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                        <i class="fas fa-users"></i>
                      </span>
                      <small>Employe</small>
                    </a>
                    <!-- <a href="{% url 'liste_enseignants' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-orange">
                        <i class="ni ni-hat-3"></i>
                      </span>
                      <small>MESupReS</small>
                    </a> -->
                  
                    <a href="{% url 'liste_conges' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                        <i class="ni ni-single-copy-04"></i>
                      </span>
                      <small>Conge</small>
                    </a>
                    <a href="{% url 'list_affectations' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-purple">
                        <i class="ni ni-briefcase-24 "></i>
                      </span>
                      <small>Affectation</small>
                    </a>
                    
                  </div>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
              <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media align-items-center">
                    
                    <div class="media-body  ml-2  d-none d-lg-block">
                      <span class="mb-0 text-sm ">
                       
                        {{ request.user.username|upper }}
                      
                      </span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right ">
                 
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row align-items-center py-4">
        <div class="col-lg-5 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">GRADE</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item">grade</li>
              
            </ol>
          </nav>
        </div>
      </div>
      <div class="responsive text-center"> 
      <h2 class="h2 text-white d-inline-block mb-0">AJOUTER UN NOUVEAU GRADE</h2>
    </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6 bg-with">
  <div class="row">
    <!-- Colonne gauche pour l'affichage de la liste -->
    <div class="col-xl-5 order-xl-5">
      <!-- Contenu pour l'affichage de la liste des contrats -->
      <div class="responsive">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Liste des Grades</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="contenair_rigth">
            <div class='embed-responsive'>
            <div class="table-container">
              <div class="table-responsive">
                    <table class="table table-striped">
                      <thead class="thead-dark">
                          <tr>
                              <th class="text-center">grade</th>
                              <th class="text-center">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for grade in grades %}
                          <tr>
                              <td class="text-center search-column">{{ grade.num_classe }}C {{ grade.num_echellon }}E</td>
                              <td class="text-center">
                                <div class="row">
                                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modificationModal{{ grade.id }}">
                                    <i class="fas fa-edit"></i>Modifier
                                </button>
                                
                                <!-- Bouton de suppression -->
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmationModal{{ grade.id }}">
                                  <i class="fas fa-trash"></i> suprimer
                                </button>
                                </div>
                              </td>
                          </tr>
                   
                        <!-- Fenêtre modale de confirmation pour la suppression -->
                        <div class="modal fade" id="confirmationModal{{ grade.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation de la suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer ce grade ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <form method="post" action="{% url 'supprimer_grade' grade.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modificationModal{{ grade.id }}" tabindex="-1" role="dialog" aria-labelledby="modificationModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="modificationModalLabel">Modification du grade</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <form enctype="multipart/form-data" action="{% url 'modifier_grade' grade.id %}" class="form-group" method="POST">
                                          {% csrf_token %}
                                          <div class="form-group">
                                              <label class="form-control-label" for="num_classe">Numero classe</label>
                                              <input type="number" class="form-control" id="grade.num_classe" name="num_classe" value="{{ grade.num_classe }}">
                                          </div>
                                          <div class="form-group">
                                            <label class="form-control-label" for="num_echellon">Numero echellon</label>
                                            <input type="number" class="form-control" id="grade.num_echellon" name="num_echellon" value="{{ grade.num_echellon }}">
                                        </div>
                                        <div class="modal-footer row">
                                          <button type="submit" class="btn btn-primary">Modifier</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                  </div>
                                   </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                          
                          {% endfor %}

                      </tbody>
                      
                    </table>
                
                </div>
              </div>

            </div>
          </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Colonne droite pour l'ajout -->
    <div class="col-xl-5 order-xl">
      <!-- Contenu pour l'ajout -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Ajoutez les informations</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="responsive">
            <form enctype="multipart/form-data" action="{% url 'ajouter_grade' %}" class="form-group" method="POST">
              {% csrf_token %}
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label" for="num_classe">Numero du class</label>
                  <input type="nomber" id="num_classe" name="num_classe" class="form-control" placeholder="Numero du classe" value="{{ num_classe }}">
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label" for="num_echellon">Numero d'echellon</label>
                  <input type="number" id="num_echellon" name="num_echellon" class="form-control" placeholder="Numer d'echellon" value="{{ num_echellon }}">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const searchInput = document.getElementById("searchInput");
      const rows = document.querySelectorAll("tbody tr");
  
      searchInput.addEventListener("input", function() {
          const query = searchInput.value.trim().toLowerCase();
  
          rows.forEach(function(row) {
              const cells = row.querySelectorAll(".search-column");
              let rowMatch = false;
  
              cells.forEach(function(cell) {
                  const cellText = cell.textContent.toLowerCase();
                  if (cellText.includes(query)) {
                      rowMatch = true;
                  }
              });
  
              if (rowMatch) {
                  row.style.display = "table-row";
              } else {
                  row.style.display = "none";
              }
          });
      });
  });
  </script>


 
   
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="/static/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
 
  <script>
   {% for msg in messages %}
   swal("{{ msg }}");
   {% endfor %}
  </script>

{% endblock javascripts %}