<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-whit" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a  href="/" >
        <img src="/static/assets/img/brand/toliara.jpg"  width="80">
      </a>
    </div>
    
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Tableau de bord</span>
            </a>
          </li>
          
        <li class="nav-item">
           <a class="nav-link dropdown-toggle {% if 'employe' in segment %} active {% endif %}" href="#" id="navbarDropdownEmploye" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-users text-blue"></i>
             <span class="nav-link-text">Employé</span>
           </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdownEmploye">
          
           <a class="dropdown-item" href="{% url 'ajouter_employe' %}">Ajouter Employé</a>
           
           <a class="dropdown-item" href="{% url 'liste_employes' %}">Liste Employés</a>
           
        </div>
        </li>
<!--       
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEnseignant" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-hat-3 text-blue"></i>
          <span class="nav-link-text">Enseignant</span>
          </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownEnseignant">
          <a class="dropdown-item" href="{% url 'ajouter_enseignant' %}">Ajouter Enseignant</a>
          <a class="dropdown-item" href="{% url 'liste_enseignants' %}">Liste des Enseignants</a>
       </div>
       </li> -->
       <li class="nav-item dropdown">
        
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAffectation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="ni ni-briefcase-24 text-blue"></i>
        <span class="nav-link-text">Affectation</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownAffectation">
        <a class="dropdown-item" href="{% url 'create_affectation' %}">Ajouter Affectation</a>
        <a class="dropdown-item" href="{% url 'list_affectations' %}">Liste des Affectations</a>
    </div>
   </li>
   <li class="dropdown">
    
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAffectation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ni ni-book-bookmark text-blue"></i>
    <span class="nav-link-text">Congé</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownConge">
    <a class="dropdown-item" href="{% url 'liste_typeconges' %}">Atype de congé</a>
    <a class="dropdown-item" href="{% url 'ajouter_conge' %}">Ajouter un Congé</a>
    <a class="dropdown-item" href="{% url 'liste_conges' %}">Liste des Congés</a>
  </div>

   </li>

<li class="dropdown">
    
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAutre" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ni ni-book-bookmark text-blue"></i>
    <span class="nav-link-text">Option</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownConge">
    <a class="dropdown-item" href="{% url 'liste_contrats' %}">contrat</a>
    <a class="dropdown-item" href="{% url 'liste_categories' %}">Categorie</a>
    <a class="dropdown-item" href="{% url 'liste_diplomes' %}">Diplome</a>
    <a class="dropdown-item" href="{% url 'liste_situations' %}">Situation</a>
    <a class="dropdown-item" href="{% url 'liste_departements' %}">Departement</a>
    <a class="dropdown-item" href="{% url 'liste_fonctions' %}">Fonction</a>
    <a class="dropdown-item" href="{% url 'liste_mentions' %}">Mention</a>
    <a class="dropdown-item" href="{% url 'liste_corps' %}">Corps</a>
    <a class="dropdown-item" href="{% url 'liste_grades' %}">Grade</a>
    <a class="dropdown-item" href="{% url 'liste_domaines' %}">Domaine</a>
  </div>

   </li>
 
       
      </div>
          
    </li>


        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal"></span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>  -->
          <form action="{% url 'logout' %}" method="post">
            <div class="text-center">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary my-4">Deconnexion</button>
            </div>
        </form>
        <li class="nav-item">
          <button id="darkModeToggle" class="btn btn-sm btn-outline-light">🌙 Mode sombre</button>
        </li>
        


        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.getElementById('darkModeToggle');
            const body = document.body;
        
            // Vérifiez la préférence enregistrée
            if (localStorage.getItem('darkMode') === 'enabled') {
              body.classList.add('dark');
              toggleButton.textContent = '☀️ Mode clair';
            }
        
            toggleButton.addEventListener('click', () => {
              if (body.classList.contains('dark')) {
                body.classList.remove('dark');
                localStorage.setItem('darkMode', 'disabled');
                toggleButton.textContent = '🌙 Mode sombre';
              } else {
                body.classList.add('dark');
                localStorage.setItem('darkMode', 'enabled');
                toggleButton.textContent = '☀️ Mode clair';
              }
            });
          });
        </script>
        
      
      </div>
    </div>
  </div>

</nav>

  