{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search form -->
            <form class="navbar-search navbar-search-light form-inline mr-sm-3">
              {% csrf_token %}
              <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-search"></i></span>
                      </div>
                      <input class="form-control" id="searchInput"  placeholder="Search" >
                  </div>
              </div>
              <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </form>
          
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center  ml-md-auto ">
              <li class="nav-item d-xl-none">
                <!-- Sidenav toggler -->
                <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </div>
              </li>
              <li class="nav-item d-sm-none">
                <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                  <i class="ni ni-zoom-split-in"></i>
                </a>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ni ni-ungroup"></i>
                </a>
                
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">
                  <div class="row shortcuts px-4">
                    <a href="{% url 'liste_employes' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                        <i class="fas fa-users"></i>
                      </span>
                      <small>Employe</small>
                    </a>
                    <!-- <a href="{% url 'liste_enseignants' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-orange">
                        <i class="ni ni-hat-3"></i>
                      </span>
                      <small>MESupReS</small>
                    </a> -->
                  
                    <a href="{% url 'liste_conges' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                        <i class="ni ni-single-copy-04"></i>
                      </span>
                      <small>Conge</small>
                    </a>
                    <a href="{% url 'list_affectations' %}" class="col-4 shortcut-item text-center">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-purple">
                        <i class="ni ni-briefcase-24 "></i>
                      </span>
                      <small>Affectation</small>
                    </a>
                    
                  </div>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
              <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media align-items-center">
                    
                    <div class="media-body  ml-2  d-none d-lg-block">
                      <span class="mb-0 text-sm ">
                       
                        {{ request.user.username|upper }}
                      
                      </span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right ">
                 
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">AFFECTATION</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item">Affectation</li>
              <li class="breadcrumb-item active" aria-current="page">Liste</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <button id="exportButton" class="btn btn-sm btn-neutral btn-primary"><a href="{% url 'export_affectations_to_excel' %}">Exporter en Excel</a></button>
          
          <a href="{% url 'create_affectation' %}" class="btn btn-sm btn-neutral">Ajouter</a>
        </div>
      </div>
    </div>

    <div class="text-center">
      <h2 class="h2 text-white d-inline-block mb-0">LISTE DES AFFECTATIONS</h2>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl">
    </div>
  </div>
</div>

<div class="col-xl-12 order-xl-5">
  <div class="card">
    <div class="responsive">
      <div class="table-responsive">
        <table class="table table-top-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">PHOTO</th>
              <th class="text-center">EMPLOYE</th>
              <th class="text-center">DATE D'AFFECTATION</th>
              <th class="text-center">FONCTION</th>
              <th class="text-center">DEPARTEMENT</th>
              <th class="text-center">DOMAINE</th>
              <th class="text-center">MOTIF</th>
              <th class="text-center">action</th>
            </tr>
          </thead>
          <tbody>
            {% for affectation in affectations %}
            <tr>
              <td><img src="{{ affectation.employe.image.url }}" alt="{{ employe.nom_em }}" class="avatar avatar-sm rounded-circle"></td>
              <td class="text-center search-column">{{ affectation.employe.nom_em }}<br>{{ affectation.employe.prenom_em }}</td>
              <td class="text-center search-column">{{ affectation.date_aff }}</td>
              <td class="text-center search-column">{{ affectation.n_fonction.nom_fc }}</td>
              <td class="text-center search-column">{{ affectation.n_departement.nom_dep }}</td>
              <td class="text-center search-column">{{ affectation.n_domaine.nom_dom }}</td>
              <td class="text-center search-column">{{ affectation.motif }}</td>
              <td class="text-center">
                <div class="row">
                  <a href="{% url 'update_affectation' pk=affectation.id %}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i>
                </a>
                

                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmationModal{{ affectation.id }}">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>

            <!-- Fenêtre modale de confirmation pour la suppression -->
            <div class="modal fade" id="confirmationModal{{ affectation.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation de la suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette affectation?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form method="post" action="{% url 'delete_affectation' affectation.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const searchInput = document.getElementById("searchInput");
      const rows = document.querySelectorAll("tbody tr");
  
      searchInput.addEventListener("input", function() {
          const query = searchInput.value.trim().toLowerCase();
  
          rows.forEach(function(row) {
              const cells = row.querySelectorAll(".search-column");
              let rowMatch = false;
  
              cells.forEach(function(cell) {
                  const cellText = cell.textContent.toLowerCase();
                  if (cellText.includes(query)) {
                      rowMatch = true;
                  }
              });
  
              if (rowMatch) {
                  row.style.display = "table-row";
              } else {
                  row.style.display = "none";
              }
          });
      });
  });
  </script>
  


{% endblock content %}

<!-- JavaScript spécifique -->
{% block javascripts %}
<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

<script src="/static/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
 
<script>
 {% for msg in messages %}
 swal("{{ msg }}");
 {% endfor %}
</script>
{% endblock javascripts %}
